body{

margin:0;
background:black;
color:white;
text-align:center;
font-family:sans-serif;
overflow:hidden;

}

.hidden{

display:none;

}

.title{

font-size:60px;
margin-top:100px;
color:pink;
text-shadow:0 0 30px red;

}

#counter{

font-size:150px;
margin-top:200px;

}

button{

padding:15px 40px;
font-size:22px;
border:none;
border-radius:10px;
background:red;
color:white;
cursor:pointer;
margin-top:40px;

}

#hearts span{

position:absolute;
animation:fall linear infinite;

}

@keyframes fall{

0%{transform:translateY(-10vh);}
100%{transform:translateY(100vh);}

}

.book{

display:flex;
justify-content:center;
gap:30px;
margin-top:100px;

}

.page{

width:220px;
height:320px;
background:white;
color:black;
border-radius:15px;
padding:10px;
transition:transform 0.6s;

}

.page:hover{

transform:rotateY(30deg) scale(1.1);

}

.page img{

width:100%;
height:220px;
border-radius:10px;
object-fit:cover;

}

#letter{

margin-top:150px;
font-size:28px;
color:pink;

}
